
<nav>
    <a href="/cart"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
</nav>
<main>
    <section class="vehicle">
         <h2 class ='carSpec'>
                    {{product_name}}
                </h2>
       <div class="cont">            
            <div class = 'productImage'>
                <img class="carImg" src="/images/{{filename}}" alt="color-car" id='productImg' />
            </div>

            <div class = 'textDesc'>
                <h2 class ='carPrice'>
                    ${{price}}
                </h2>
                <p class = 'textDesc'> {{description}} </p>
                <p class ='carSpecs'>Car Specs:</p>
                    <li class = 'textDesc'> {{engine}} </li>
                    <li class = 'textDesc'> {{fuel}} </li>
                    <li class = 'textDesc'> {{type}} </li>
            </div>
        </div>
    </section>

    <section>
        <h3 class="option">Vehicle Options</h3>
        <div>
        <button class="button" type="button" id="place-order">Order Now</button>
        </div>
    </section>
            <form>
                <label>Please select your vehicle color:
                    <select id="ext-color-choice" name="car-color">
                         <option value="" selected disabled hidden>Choose here</option>
                        <option value="Red">Red</option>
                        <option value="Black">Black</option>
                        <option value="Blue">Blue</option>
                        <option value="White">White</option>
                    </select>
                </label>
<br>
                <label>Please select your interior color:
                    <select id="int-color-choice" name="interior-choice">
                         <option value="" selected disabled hidden>Choose here</option>
                        <option value="Red">Red</option>
                        <option value="Black">Black</option>
                        <option value="White">White</option>
                    </select>
                </label>
            <br>
                <label>Please select your wheels:
                    <select id="wheel-choice" name="wheels">
                         <option value="" selected disabled hidden>Choose here</option>
                        <option value="Trackhawk Gloss Black">Trackhawk Gloss Black</option>
                        <option value="TSW Alloy Silver">TSW Alloy Silver</option>
                        <option value="Hellion Gloss Black">Hellion Gloss Black</option>
                    </select>
                </label>
            </form>
        <script src="/js/product.js">
        </script>
</main>

